@using CarRental.Areas.Admin.Models
@model List<CarRental.Areas.Admin.Models.DonDatXe>

@if (Model.Count() > 0 || Model.Any())
{
    <table class="table table-centered mb-0">
        <thead class="font-13 bg-light text-muted">
            <tr>
                <th class="font-weight-medium">Ảnh xe</th>
                <th class="font-weight-medium">ảnh user</th>
                <th class="font-weight-medium">tên người đặt xe</th>

                <th class="font-weight-medium">Checkin</th>
                <th class="font-weight-medium">Checkout</th>
                <th class="font-weight-medium">Địa điểm giao xe/th>

                <th class="font-weight-medium">Ngày đặt</th>

                <th class="font-weight-medium">Trạng thái</th>


                <th class="font-weight-medium text-center" style="width: 125px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DonDatXe item in Model)
            {
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="text-dark">
                            <img src="@Url.Content("~/Upload/" + item.SanPham.Img)" style="width:100px">

                        </a>
                    </td>

                    <td>

                        <img src="@Url.Content("~/Upload/" + item.infoUserOwner.Img)" style="width:100px">
                    </td>

                    <td>

                        tên người đặt, @item.infoUserOwner.Name<br>


                    </td>
                    <td class="text-muted font-13">
                        @item.checkin
                    </td>
                    <td class="text-muted font-13">
                        @item.checkout
                    </td>

                    <td class="text-muted font-13">
                        @item.Location
                    </td>

                    <td class="text-muted font-13">
                        @item.ngayDat
                    </td>

                    <td class="text-muted font-13">
                        Đã hủy
                    </td>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>
        Bạn vẫn chưa có đơn đặt xe nào Hết
    </h2>
    <div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<script src="~/assets/js/vendor.min.js"></script>

<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/assets/libs/jquery-vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/assets/libs/jquery-vectormap/jquery-jvectormap-world-mill-en.js"></script>
@* thuvientinhngayKC *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Peity chart-->


<script>



</script>
